body {
    margin: 60px auto;
    max-width: 800px;
    text-align: center;
    background: linear-gradient(to right, rgb(209, 145, 60), rgb(255, 209, 148));
}

h1 {
    font-style: initial;
    font-size: 80px;
}
h3{
    font-style: initial;
    font-size: 30px;
    margin: 30px;
}

div {
    margin: 40px;
    font-style: oblique;
    font-size: 20px;
}

a {
    margin: 10px;
}
img {
    max-width: 70%;
    margin: 0 auto;
    border-radius: 6px;
    display: block;
}
.photo{
    margin: 20px;
}